services:
  app:
    build: .
    container_name: cogni_backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      DB_URL: jdbc:postgresql://db:5432/cogni_db
      DB_USER: admin
      DB_PASSWORD: admin
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16
    container_name: cogni_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: cogni_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
